.input {
  display: flex;
  width: 90%;
  position: relative;
  align-items: center;
}

.inputBox {
  width: 100%;
  border-radius: 100px;
  padding: 20px 50px;
  font-size: 25px;
  border: none;
 
  box-shadow: 0 0 5px #00ffb3;
}

.inputBox:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
  outline: none;
}

.btnSubmit {
  position: absolute;
  width: 70px;
  height: 100%;
  /* margin: 12px; */
  border-radius: 50px;
  right: 0;
  border: none;
  color: white;
  font-size: 25px;
  background-color: #00ffb3;
}

.todos {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  flex-wrap: wrap;
}